.custombtn {

    cursor: pointer;
    border-radius: 10px;
    color: white;
    transition: 0.3s ease-in;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

    &:hover {
        transform: scale(1.03);
    }      
}

.islaoding{
    cursor: not-allowed;
    opacity: 0.5;
}

.fullw {
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

