@import '../../App.scss';

.footer {
    width: calc(100% - 100px);
    height: 300px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;

    @include mobile {
        width: 100%;
        padding: 10px;
        height: max-content;
    }

    .top {
        margin-top: 50px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-flow: wrap row;
            height: max-content;
        }

        .footeritem {
            width: max-content;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: start;
            height: 100px;            

            @include mobile {
                width: 48%;                
            }

            h1 {
                font-size: 18px;
                margin-bottom: 20px;
            }

            li {
                list-style: none;
                margin-bottom: 10px;
                color: rgba(255, 255, 255, 0.5);
                cursor: pointer;
                font-size: 15px;

                &:hover {
                    color: white;
                }
            }

            .footericons {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                .footericon {
                    font-size: 25px;
                    color: white;
                }
            }
        }
    }

    .btm {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        @include mobile {            
            flex-direction: column;
            gap: 10px;
        }

        .left {
            color: rgba(255, 255, 255, 0.5);
        }

        .right {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;

            img {
                width: 120px;
                height: 40px;
                object-fit: cover;
            }
        }
    }
}