// UplaodBar.scss

.upload-bar {
    width: 100%;
    border: 1px solid #d1d5db; // Use your desired border color
    border-radius: 0.375rem; // Use your desired border radius
    overflow: hidden;

    .progress-bar {
        height: 10px;
        transition: all 0.3s ease; // Use your desired transition duration
    }

    &.complete .progress-bar {
        background-color: #34d399; // Green color when upload is complete
    }

    &.incomplete .progress-bar {
        background-color: #3b82f6; // Blue color when upload is in progress
    }

    .progress-text {
        &.complete {
            color: #34d399; // Green color for completed text
        }

        &.incomplete {
            color: #3b82f6; // Blue color for incomplete text
        }
    }
}