@import '../../App.scss';

.showmoviecon {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: #0f1014;

    .showbottom {
        position: absolute;
        top: 100vh;
        left: 0;
        width: 100%;
        height: max-content;
        overflow: hidden;
        border-bottom: 1px solid white;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #0f1014;

        @include mobile {
            padding: 10px;
        }

        .showrating {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 5px;
            font-size: 15px;
            margin-left: 100px;

            span {
                color: red;
            }
        }

        .casts {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            overflow-x: scroll;
            height: 100%;
            margin-left: 100px;

            @include mobile {
                margin: 0;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .cast {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: max-content;
                height: 150px;

                .castimg {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    width: 100%;
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 15px;
                }
            }
        }
    }



}